body{
   margin: 0;
   
font-family: 'Roboto', sans-serif;
}
.nav-logo{
   display: flex;
   align-items: center;
   gap: 20px;
   
}
.nav-logo img{
   margin-left: 10rem;
   height: 30px;
}
.nav-logo p{
   font-size: 2rem;
   font-weight: 700;
}
.nav-logo p span{
   color: #dc0f9b;;
}


.contact-logo{
   display: flex;
   align-items: center;
   
   gap: .5rem;
   margin-right: 5rem;
   background-color:  rgba(11, 2, 35, 0.10);
   border-radius: 3px;
   height: 30px;
   
  
     
}
.contact-logo img{
   height: 1rem;
   padding: 10px;
}
.contact-logo p {
     padding: 10px;
}
.nav-container{
   display: flex;
   justify-content: space-between;
   
   
   
}
.nav-item{
   display: flex;
   align-items: center;
   gap: 20px; 
 
   
}
.nav-item a{
   text-decoration: none;
   color: black;
   font-size: 15px;
   font-weight: 500;
}

.banner-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3rem;
}
.banner-photo{
  
}
.banner-content{
 
  padding: 2rem;
  margin-left: 10rem;
}
.banner-content h3{
   font-size: 1.5rem;
   font-weight: 600;
}
.title{
   font-size: 3rem ;
   font-weight: 900;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icone-name{
   color: #534C64;
   font-weight: 500;
}
.btn-class{
   padding: 10px 20px;
   border-radius: 20px;
   border: none;
   background-color: #dc0f9b;
   font-size: .7rem;
   color: white;
margin-right: 10px;
}
#sign-in-btn-id{
   background: #4EC5F7;
}
.know-more-container{
   display: flex;
   gap: 1rem;
   align-items: center;
   margin-bottom: 2rem;
}
.know-more{
   
   text-align: right;
   padding-left: 5rem;
}
#title-id{
   font-size: 2rem;
   font-weight: 700;
}
.more-details{
   color: #534C64;
   font-size: 1rem;
   font-weight: 400;
}
.purpose span{
   font-size: 1.2rem;
   font-weight: 900;
   color: #534C64;
}
.our-collections-container{
   margin-bottom: 2rem;
}
.our-collection-header{
   text-align: center;
   margin-bottom: 2rem;
}
.our-collection-header h1{
   font-size: 3rem;
  font-weight: 900;
}

.collection-img-container{
   display: flex;
   justify-content: space-evenly; 
}
.photo-title{
   font-size: 10px;
   color: #534C64;
   font-family: 700;
}

.collection-img{
   width: 19rem;
}
   
.play-btn-photo {
   position: relative;
   display: inline-block;
}
.play-btn-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   
  
}
.play-btn-photo:hover {
   opacity: .5;
}
.play-btn-title{
   color: black;
   font: bold;
   font-weight: 700;
   font-size: 1.2rem;
}
   
.play-btn-photo:hover .play-btn-container {
   display: block;
   
}
.play-online-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15rem;
   margin-bottom: 7rem;
}
.bannar-photo{
   position: relative;
}
.bannar-mini-photo{
   position: absolute;
   top: 145rem ;
   right: 40rem;

}
.play-online-header{
   color: #F948B2;
}
.play-online-detail h1{
   color: #0B0223;
   font-weight: 900;
}
.carrer-description{
   display: flex;
   justify-content: space-between;
}
.carrers-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
   margin-bottom: 4rem;
}
.carrer-details-container{
   margin-left: 4rem;
}
.carrer-details-container h1{
   color: azure;
}

.carrers-photo img{
   width: 50rem;
}
.carrers-coomon{
   color: white;
   font-size: 1rem;
   font-weight: 600;
}
#carrer-details{
   font-size: .7rem;
}
.select-position-btn{
   color: #F948B2;
   padding: .5rem;
   border-radius: 1rem;
}
.find-ur-game-section button{
   display: flex;
   justify-content: center;
   align-items: center;
   /* gap: 1rem; */
   border: none;
   background:none;
}
.find-ur-game-section {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-items: center;
   align-items: center;
   row-gap: 2rem;
   margin-bottom: 3rem;
 }
 
 .find-ur-game-section button:hover{
    border: 1px solid blueviolet;
    border-radius: 3rem;
    color: #dc0f9b;
    padding: .2rem;
    
 }
 .find-us-details{
    background: #0B0223;
    
 }
 .find-us-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
   }
   
   
 .find-us-title p{
    color: white;
    font-weight: 900;
    font-size: 30px;
 }
 .find-us-title img{
    height: 30px;
 }
 .find-us-title span{
    color: #dc0f9b;
 }
 .link{
    text-align: center;
    
 }
 .link a{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 5rem;
    
 }
 .social-account{
    text-align: center;
    margin-top:20px
 }
 .social-account a{
    margin-right: 3rem;
   }
 
 .social-account a img{
    height: 25px;
 }
 .Terms-and-Conditions{
    text-align: center;
    margin-top: 2rem;
   }
   .Terms-and-Conditions a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.60);
      font-weight: 500;
      margin-left: 3rem;
     }
     .last-part{
        color: rgba(255, 255, 255, 0.60);
        margin-top: 3rem;
        text-align: center;
        padding-bottom: 3rem;
     }
    
     @media only screen and (max-width: 640px) {
                /* flex nav */
                .nav-container{
                 display: flex;
                 flex-direction: column; 
                 justify-content: center;
              }
              .nav-item{
                 display: flex;
                flex-direction:column;
                justify-content: center; 
              }
              .contact-logo{
                 margin-right: 0rem;
                 
              }
              .nav-logo{
                 display: flex;
                 justify-content: center;
                 
              }
              .nav-logo img{
                 margin-left: 0;
                
              }
              /* main section 1 responsive */
              .banner-container{
                 display: flex;
                 flex-direction: column-reverse;
                 margin-top: 5rem;
                 justify-content: center;
                 padding-left: 4rem;
              }
                 
                 
              .banner-photo img{
                   width: 80%;
                 
              }
              .banner-content{
      
               
                 margin-left: 0;
              }
              /* main section 2 resp */
              .know-more-container{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
              }
              .featured-img img{
                 width: 80%;
                 padding-left: 3rem;
     
              }
              .know-more{
        
                 text-align: center;
                 padding-left: 0rem;
              }
              /* main section 3 respn */
              .collection-img-container{
                 display: flex;
                 justify-content: center;
                 flex-direction: column; 
                padding-left: 2.5rem;
              }
              /* section 4 resp */
              .bannar-photo img{
                 width: 80%;
              }
              .play-online-container{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 gap: 2rem;
              }
              .play-online-img{
                 position: relative;
                 padding-left: 4rem;
              }
              .bannar-mini-photo{
                 position: absolute;
                 top: 10rem ;
                 left: 1rem;
              }
              .bannar-mini-photo img{
                width: 10rem;
     
              }
              .carrers-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
                margin-bottom: 4rem;
                
             }
             .carrers-photo img{
                width: 25rem;
                margin-left: 4rem;
             }
             .find-ur-game-section {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                align-items: center;
                grid-gap: 10px;
                text-align: center;
              }
              .find-ur-game-section button img{
                width: 2rem;
              }
              .link{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 1rem;
                /* margin-bottom: 2rem; */
              }
              .social-account{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                text-align: center;
                margin-top:20px;
                gap: 1rem;
             }
             .find-us-details{
                width: 100%;
             }
             .Terms-and-Conditions{
                
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 1rem;
             }
                 

   



   


    


  



            
            
         
        
            
            
         
            
          
           
         

           
            
            
            
           
              
   
            
            
            
            
   }


   

  
 

   

   